{% extends "layout/centered.html" %} {% load static %}

<!-- TODO: Add stylesheet links. -->

{% block title %}Life{% endblock title %}

<!-- Main page content -->
{% block content %}

<h1 id="life-title">Conway's Game of LIFE</h1>
<hr />

<a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">
  <h3>From Wikipedia</h3>
</a>
<p>
  The Game of Life, also known simply as Life, is a cellular automaton devised
  by the British mathematician John Horton Conway in 1970. It is a zero-player
  game, meaning that its evolution is determined by its initial state, requiring
  no further input. One interacts with the Game of Life by creating an initial
  configuration and observing how it evolves. It is Turing complete and can
  simulate a universal constructor or any other Turing machine.
</p>
<p>
  The universe of the Game of Life is an infinite, two-dimensional orthogonal
  grid of square cells, each of which is in one of two possible states, live or
  dead (or populated and unpopulated, respectively). Every cell interacts with
  its eight neighbours, which are the cells that are horizontally, vertically,
  or diagonally adjacent. At each step in time, the following transitions occur:
</p>
<ul>
  <li>
    <strong
      >Any <em>live</em> cell with <em>fewer than two</em> live neighbours
      dies</strong
    >, as if by underpopulation.
  </li>
  <li>
    <strong
      >Any <em>live</em> cell with <em>two or three</em> live neighbours lives
      on</strong
    >
    to the next generation.
  </li>
  <li>
    <strong
      >Any <em>live</em> cell with <em>more than three</em> live neighbours
      dies</strong
    >, as if by overpopulation.
  </li>
  <li>
    <strong
      >Any <em>dead</em> cell with <em>exactly three</em> live neighbours
      becomes a live cell</strong
    >, as if by reproduction.
  </li>
</ul>
<p>
  These rules, which compare the behavior of the automaton to real life, can be
  condensed into the following:
</p>
<ul>
  <li>
    <strong>Any live cell with two or three live neighbours survives.</strong>
  </li>
  <li>
    <strong
      >Any dead cell with three live neighbours becomes a live cell.</strong
    >
  </li>
  <li><strong>All other live cells die in the next generation.</strong></li>
  <li>Similarly, all other dead cells stay dead.</li>
</ul>
<p>
  The initial pattern constitutes the seed of the system. The first generation
  is created by applying the above rules simultaneously to every cell in the
  seed, live or dead; births and deaths occur simultaneously, and the discrete
  moment at which this happens is sometimes called a tick. Each generation is a
  pure function of the preceding one. The rules continue to be applied
  repeatedly to create further generations.
</p>
<hr />
<div id="grid-container">
  <div id="grid-actions">
    <div id="grid-size">
      <label for="width">
        Board Width:
        <input id="width" type="number" value="150" />
      </label>
      <label for="height">
        Board Height:
        <input id="height" type="number" value="150" />
      </label>
      <button onclick="updateSizeAction()">Update Board Size</button>
      <label for="borders">
        <input
          id="borders"
          type="checkbox"
          onchange="updateBordersAction()"
        />Borders
      </label>
      <button id="clear-board" onclick="clearBoardAction()">Clear Board</button>
    </div>

    <br />

    <div id="grid-colors">
      <label for="cell-color">
        Cell Color:
        <input
          id="cell-color"
          type="color"
          value="#32cd32"
          onchange="updateCellColorAction()"
        />
      </label>
      <label for="background-color">
        Background Color:
        <input
          id="background-color"
          type="color"
          value="#d3d3d3"
          onchange="updateBackgroundColorAction()"
        />
      </label>
    </div>

    <br />

    <div id="grid-library">
      <label for="pattern-name">
        Pattern Name:
        <input id="pattern-name" type="text" />
      </label>
      <button onclick="savePatternAction()">Save Current Board</button>
      <label for="pattern-menu">
        Saved Patterns:
        <select
          id="pattern-menu"
          onfocus="getPatternsAction()"
          onchange="loadPatternAction()"
        >
          <option disabled selected value="">No patterns available</option>
        </select>
      </label>
    </div>
  </div>

  <div id="game-buttons">
    <button onclick="backAction()">&lt;&lt;&lt;</button>
    <button onclick="tickAction()">&gt;&gt;&gt;</button>
    <input id="speed-slider" type="range" max="10" onchange="playAction()" />
    <button id="play" onclick="playAction()">PLAY</button>
    <button id="stop" onclick="stopAction()">STOP</button>
  </div>

  <div id="game-stats">
    Generation: <span id="gen-counter" onclick="editGenerationAction()">0</span>
    <input
      hidden
      type="number"
      id="gen-input"
      onblur="INPUT.hideGenerationInput()"
      onchange="setGenerationAction()"
    />
    <br />
    Population: <span id="pop-counter">0</span>
  </div>
  <div id="grid-wrapper">
    <div id="grid-frame"></div>
  </div>
</div>

<hr />
<h1 id="menu-header">Select a Pattern</h1>
<div id="menu-wrapper">
  <div id="menu-root"></div>
</div>

<script src="{% static 'scripts/points.js' %}" asp-append-version="true" />
<script src="{% static 'scripts/game.js' %}" asp-append-version="true" />
<script src="{% static 'scripts/grid.js' %}" asp-append-version="true" />
<script src="{% static 'scripts/api.js' %}" asp-append-version="true" />
<script src="{% static 'scripts/input.js' %}" asp-append-version="true" />
<script src="{% static 'scripts/menu.js' %}" asp-append-version="true" />
<script src="{% static 'scripts/main.js' %}" asp-append-version="true" />
{% endblock content %}
