{% extends "layout/centered.html" %}

<!-- TODO: Add stylesheet links. -->

{% block title %}Home{% endblock title %}

<!-- Landing page for site, should showcase functionality from different apps. -->

{% block content %}
<h1>Home</h1>
<p>Welcome to the home page!</p>
<p>This is the landing page for the site. Currently, most of my
    work is at <a href="http://thealexfreeman.com">my old website</a>.</p>
</p>
<p>Eventually, I will have a blog, a portfolio, and a contact form here.</p>

<h2>Purpose</h2>
<p>The purpose of this site is to showcase my work and to provide a
    platform for me to write about my interests. My formal education is in cognitive science, but I have pursued a wide range of interests in my adult life.</p>
{% endblock content %}
