<!doctype html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="UTF-8" />

    <link rel="stylesheet" href="{% static 'style/base.css' %}" />
    {% block styles %} {% endblock styles %}

    <!-- Favicon -->
    {% block favicon %}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    {% endblock favicon %}

    <meta name="theme-color" content="#4e49d1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Alex Freeman{% endblock title %}</title>
  </head>

  <body>
    <header>
      {% block header %}

      <div id="image-and-name">
        <img src="{% static 'images/NarcissusInverted.jpg' %}" alt="Logo" />
        <div>
          <h1 id="pagename">
            {% block pagename %}The Alex Freeman{% endblock pagename %}
          </h1>
          <h3 id="tagline">
            {% block tagline %}Official Web Presence{% endblock tagline %}
          </h3>
        </div>
      </div>

      <nav style="float: right">
        {% block nav %}
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
      </nav>
      {% endblock nav %} {% endblock header %}
    </header>

    <div id="page-title">
      <h1>{% block pagetitle %}Hello, World{% endblock pagetitle %}</h1>
    </div>

    <div id="banner">
      {% block bannerimage %}
      <img src="{% static 'images/IslayHillSunrise-scaled.jpg' %}" alt="Logo" />
      {% endblock bannerimage %}
      <caption>
        <p class="caption">
          {% block bannercaption %}Hello, world.{% endblock bannercaption %}
        </p>
      </caption>
    </div>

    <main>{% block main %} {% endblock main %}</main>

    <footer>
      {% block footer %}
      <p>&copy; 2024 The Alex Freeman</p>
      {% endblock footer %}
    </footer>

    <script src="{% static 'scripts/base.js' %}"></script>
    {% block scripts %} {% endblock scripts %}
  </body>
</html>
