#grid-wrapper {
  position: relative;
}

.grid {
  display: inline-block;
}

.row {
  background-color: #fff;
  height: 10px;
  white-space: nowrap;
}

.cell {
  box-sizing: border-box;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: lightgray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  position: relative;
  bottom: 7px;
  z-index: 1;
}
