#gen-input {
  width: 45px;
}

#play {
  background-color: limegreen;
  color: white;
  border: 1px solid gray;
}

#play:hover {
  opacity: 0.8;
}

#stop {
  background-color: red;
  color: white;
  border: 1px solid gray;
}

#stop:hover {
  opacity: 0.8;
}

#grid-actions {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  width: fit-content;
}

#game-stats {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

#grid-size input[type="number"] {
  width: 45px;
}

#clear-board {
  float: right;
}

#clear-board:hover {
  border: 1px solid crimson;
}

#game-buttons {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

#game-buttons button {
  padding: 5px 20px;
}

#grid-library input {
  width: 100px;
}

select {
  min-width: 100px;
}
